p {
  font-size: 20px;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5,
.pimg6,
.pimg7,
.pimg8,
.pimg9,
.pimg10,
.pimg11,
.pimg12,
.pimg13,
.pimg14,
.pimg15,
.pimg16,
.pimg17,
.pimg18,
.pimg19,
.pimg20,
.pimg21,
.pimg22 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("https://images.unsplash.com/photo-1517841905240-472988babdf9?auto=format&fit=crop&w=1366&q=80");
}
.pimg2 {
  background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?auto=format&fit=crop&w=1366&q=80");
}
.pimg3 {
  background-image: url("https://images.unsplash.com/photo-1576526202635-a5ef36e4f4db?auto=format&fit=crop&w=1366&q=80");
}
.pimg4 {
  background-image: url("https://images.unsplash.com/photo-1581091870626-2fe36feef029?auto=format&fit=crop&w=1366&q=80");
}
.pimg5 {
  background-image: url("https://images.unsplash.com/photo-1470225620780-dba8ba36b745?auto=format&fit=crop&w=1366&q=80");
}
.pimg6 {
  background-image: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?auto=format&fit=crop&w=1366&q=80");
}
.pimg7 {
  background-image: url("https://images.unsplash.com/photo-1518770660439-4636190af475?auto=format&fit=crop&w=1366&q=80");
}
.pimg8 {
  background-image: url("https://images.unsplash.com/photo-1511512578047-dfb367046420?auto=format&fit=crop&w=1366&q=80");
}
.pimg9 {
  background-image: url("https://images.unsplash.com/photo-1505842465776-3b6d9e0dff80?auto=format&fit=crop&w=1366&q=80");
}
.pimg10 {
  background-image: url("https://images.unsplash.com/photo-1509395176047-4a66953fd231?auto=format&fit=crop&w=1366&q=80");
}
.pimg11 {
  background-image: url("https://images.unsplash.com/photo-1529692236671-f1c9c18c6b30?auto=format&fit=crop&w=1366&q=80");
}
.pimg12 {
  background-image: url("https://images.unsplash.com/photo-1517336714731-489689fd1ca8?auto=format&fit=crop&w=1366&q=80");
}
.pimg13 {
  background-image: url("https://images.unsplash.com/photo-1541099649105-f69ad21f3246?auto=format&fit=crop&w=1366&q=80");
}
.pimg14 {
  background-image: url("https://images.unsplash.com/photo-1581602182840-bfe105e8b746?auto=format&fit=crop&w=1366&q=80");
}
.pimg15 {
  background-image: url("https://images.unsplash.com/photo-1562184647-9a9f9893ac61?auto=format&fit=crop&w=1366&q=80");
}
.pimg16 {
  background-image: url("https://images.unsplash.com/photo-1524504388940-b1c1722653e1?auto=format&fit=crop&w=1366&q=80");
}
.pimg17 {
  background-image: url("https://images.unsplash.com/photo-1553456558-aff63285bdd2?auto=format&fit=crop&w=1366&q=80");
}
.pimg18 {
  background-image: url("https://images.unsplash.com/photo-1584697964154-3a0dcc50c317?auto=format&fit=crop&w=1366&q=80");
}
.pimg19 {
  background-image: url("https://images.unsplash.com/photo-1502082553048-f009c37129b9?auto=format&fit=crop&w=1366&q=80");
}
.pimg20 {
  background-image: url("https://images.unsplash.com/photo-1497493292307-31c376b6e479?auto=format&fit=crop&w=1366&q=80");
}
.pimg21 {
  background-image: url("https://images.unsplash.com/photo-1580910051070-5b35029bb8e5?auto=format&fit=crop&w=1366&q=80");
}
.pimg22 {
  background-image: url("https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?auto=format&fit=crop&w=1366&q=80");
}

.section {
  text-align: center;
  padding: 50px;
}
.section-dark {
  background-color: #202e34;
  color: #ddd;
}
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 26px;
  opacity: 0.7;
}
@media (max-width: 568px) {
  .pimg1 .pimg2 .pimg3 {
    background-attachment: scroll;
  }
}
